openapi: 3.0.3
info:
  title: Echoforge API
  description: |
    **Echoforge Multi-Tenant Platform API**
    
    Echoforge is a flexible, multi-tenant platform that supports various site types including blogs, manga platforms, and portfolios. This API provides comprehensive endpoints for managing content, users, and site-specific features while maintaining strict tenant isolation.
    
    ## Key Features
    - **Multi-Tenant Architecture**: Each site operates independently with `site_id` isolation
    - **Flexible Content Types**: Blog posts, manga series, portfolio projects
    - **Authentication & Authorization**: JWT-based auth with role-based access control
    - **File Management**: Upload and manage images, videos, and documents
    - **Search & Analytics**: Full-text search and detailed analytics
    - **Configuration Management**: Site-specific settings and customization
    
    ## Authentication
    Most endpoints require authentication via JWT token in the Authorization header:
    ```
    Authorization: Bearer <jwt_token>
    ```
    
    ## Site Identification
    The API uses the `site_id` to isolate tenant data, which can be provided via:
    - `X-Site-ID` header (recommended)
    - Subdomain extraction (e.g., `blog.example.com` → `blog-001`)
    - Query parameter `site_id` (fallback)
    
    ## Rate Limiting
    API requests are rate-limited per site:
    - **Standard**: 100 requests/minute
    - **Authenticated**: 1000 requests/minute
    - **File uploads**: 10 requests/minute
    
    ## Pagination
    List endpoints support pagination with query parameters:
    - `page`: Page number (default: 1)
    - `limit`: Items per page (default: 10, max: 100)
    
    ## Error Handling
    The API uses standard HTTP status codes and returns errors in a consistent format:
    ```json
    {
      "error": "error_code",
      "message": "Human-readable error message",
      "details": {
        "field": "validation error details"
      }
    }
    ```
  version: '1.0.0'
  contact:
    name: Echoforge API Support
    url: https://github.com/echoforge/echoforge
    email: support@echoforge.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.echoforge.com/v1
    description: Production server
  - url: https://staging-api.echoforge.com/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Development server

security:
  - BearerAuth: []
  - SiteID: []

paths:
  # Health Check
  /health:
    get:
      tags: [Health]
      summary: Health check endpoint
      description: Returns the health status of the API
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [healthy, unhealthy]
                      cache:
                        type: string
                        enum: [healthy, unhealthy]
                      storage:
                        type: string
                        enum: [healthy, unhealthy]

  # Authentication Endpoints
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      description: Create a new user account for a specific site
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
                password:
                  type: string
                  minLength: 8
                  example: "SecurePassword123!"
                name:
                  type: string
                  example: "John Doe"
                role:
                  type: string
                  enum: [admin, editor, author, user]
                  default: user
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Registration successful"
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and return JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                remember_me:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_at:
                    type: string
                    format: date-time
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: Invalidate the current JWT token
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Logout successful"

  # Blog Endpoints
  /blog/posts:
    get:
      tags: [Blog]
      summary: List blog posts
      description: Retrieve a paginated list of blog posts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, archived]
            default: published
        - name: category
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlogPost'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Blog]
      summary: Create a blog post
      description: Create a new blog post
      security:
        - BearerAuth: [author, editor, admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogPostCreate'
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
        '400':
          $ref: '#/components/responses/BadRequest'

  /blog/posts/{slug}:
    get:
      tags: [Blog]
      summary: Get blog post by slug
      description: Retrieve a specific blog post by its slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "getting-started-with-go"
      responses:
        '200':
          description: Post retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPostDetailed'
        '404':
          $ref: '#/components/responses/NotFound'

  # Portfolio Endpoints  
  /portfolio/projects:
    get:
      tags: [Portfolio]
      summary: List portfolio projects
      description: Retrieve a paginated list of portfolio projects
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: category
          in: query
          schema:
            type: string
        - name: featured
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Projects retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioProject'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # File Management
  /files/upload:
    post:
      tags: [Files]
      summary: Upload file
      description: Upload a file to the server
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                category:
                  type: string
                  enum: [image, video, document, audio]
                alt_text:
                  type: string
                caption:
                  type: string
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUpload'
        '400':
          $ref: '#/components/responses/BadRequest'

  # Search
  /search:
    get:
      tags: [Search]
      summary: Search content
      description: Search across all content types
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: type
          in: query
          schema:
            type: string
            enum: [all, blog, manga, portfolio]
            default: all
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'
    post:
      summary: User logout
      description: Logout the current user and invalidate JWT token
      tags:
        - Authentication
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully logged out
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/profile:
    get:
      summary: Get user profile
      description: Get the current user's profile information
      tags:
        - User Management
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update user profile
      description: Update the current user's profile information
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/profile/password:
    put:
      summary: Change password
      description: Change the current user's password
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password updated successfully
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Current password incorrect or authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/check-email/{email}:
    get:
      summary: Check email availability
      description: Check if an email address is available for registration
      tags:
        - Utilities
      security: []
      parameters:
        - name: email
          in: path
          required: true
          description: Email address to check
          schema:
            type: string
            format: email
            example: test@example.com
      responses:
        '200':
          description: Email availability checked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAvailabilityResponse'
        '400':
          description: Invalid email format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    SiteID:
      type: apiKey
      in: header
      name: X-Site-ID

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "validation_error"
        message:
          type: string
          example: "The request contains invalid data"
        details:
          type: object
          additionalProperties: true
      required: [error, message]

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [admin, editor, author, user]
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BlogPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        content:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        featured_image:
          type: string
          format: uri
        author:
          $ref: '#/components/schemas/User'
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BlogPostDetailed:
      allOf:
        - $ref: '#/components/schemas/BlogPost'
        - type: object
          properties:
            view_count:
              type: integer
            reading_time:
              type: integer
              description: Estimated reading time in minutes

    BlogPostCreate:
      type: object
      required: [title, content]
      properties:
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        content:
          type: string
        status:
          type: string
          enum: [draft, published]
          default: draft
        featured_image:
          type: string
          format: uri

    PortfolioProject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [draft, published, archived, private]
        featured_image:
          type: string
          format: uri
        technologies:
          type: array
          items:
            type: string
        project_url:
          type: string
          format: uri
        github_url:
          type: string
          format: uri
        is_featured:
          type: boolean
        view_count:
          type: integer
        created_at:
          type: string
          format: date-time

    FileUpload:
      type: object
      properties:
        id:
          type: string
          format: uuid
        file_name:
          type: string
        original_name:
          type: string
        file_size:
          type: integer
        mime_type:
          type: string
        category:
          type: string
          enum: [image, video, document, audio]
        url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        uploaded_at:
          type: string
          format: date-time

    SearchResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [blog_post, manga_series, portfolio_project]
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        url:
          type: string
          format: uri
        relevance_score:
          type: number
          format: float

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total_items:
          type: integer
        total_pages:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean

